{# src/_includes/components/banner-notice.njk #}
{% macro bannerNotice(colorPrefix, content) %}
  <div class="bg-{{ colorPrefix }}-50 border-l-4 border-{{ colorPrefix }}-400 p-4 mb-6">
    {{ content | safe }}
  </div>
{% endmacro %}
