{# src/_includes/components/banner-notice.njk #}
{% macro bannerNotice(message) %}
<div class="bg-yellow-50 border-l-4 border-yellow-400 p-4">
    <p class="text-yellow-700 text-sm">
        You know the drill, <span class="text-red-500">*</span> means Required.
    </p>
    <p class="mt-1 text-yellow-800 text-sm">
        Please review the information below. Please ask your HR to make any
        changes in the Chick-fil-A Payroll System.
    </p>
</div>
{% endmacro %}