{% from "components/input-field.njk" import
   textInputField,
   dateInputField,
   selectField,
   radioGroup
%}

<div 
  {# id = "edit-modal" #}
  x-show="showModal" 
  x-transition.opacity 
  class="fixed inset-0 z-50 overflow-y-auto"
  style="background-color: rgba(0, 0, 0, 0.5);"
  aria-labelledby="familyEditModalLabel" 
  role="dialog" 
  aria-modal="true"
>
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg w-full">
      <div class="px-6 py-4">
        <button @click="closeModal()" class="btn btn-close">
          <span class="sr-only">Close</span>
          &times;
        </button>
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold text-gray-800"
              id="familyEditModalLabel"
              x-text="isEdit ? 'Edit Family Member' : 'Add Family Member'">
          </h2>
        </div>

        <form @submit.prevent="saveMember()">
          <div class="grid grid-cols-1 gap-4">

            <!-- First Name (text input) -->
            <div>
              {{ textInputField("First Name", "firstName", "editingMember.firstName", "", "text", true) }}
            </div>

            <!-- Suffix (text input) -->
            <div>
              {{ textInputField("Suffix", "suffix", "editingMember.suffix", "", "text", false) }}
            </div>

            <!-- Last Name (text input) -->
            <div>
              {{ textInputField("Last Name", "lastName", "editingMember.lastName", "", "text", true) }}
            </div>

            <!-- Relation (select dropdown) -->
            <div>
              {{ selectField("Relation", "relation", "editingMember.relation", ["Child", "Spouse", "Other"], true) }}
            </div>

            <!-- Birth Date (date input) -->
            <div>
              {{ dateInputField("Birth Date", "birthDate", "editingMember.birthDate", true) }}
            </div>

            <!-- Term Date (date input) -->
            <div>
              {{ dateInputField("Term Date", "termDate", "editingMember.termDate", false) }}
            </div>

            <div>
              {{ textInputField("SSN", "ssn", "editingMember.ssn", "", "text", false) }}
            </div>
            <div>
              {{ radioGroup("Gender", "gender", "editingMember.gender", 
                [ "Male", "Female", "Unknown" ]
              )}}
            </div>
            <div>
              {{ radioGroup("Disabled", "isDisabled", "editingMember.isDisabled", ["Yes", "No"]) }}
            </div>

          </div>

          <div class="mt-6 flex justify-end space-x-2">
            <button type="button" @click="closeModal()" class="btn btn-cancel">Cancel</button>
            <button type="submit" class="btn btn-submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
