<div class="search-wrapper">
  <span class="search-icon">
    <i class="fas fa-search"></i>
  </span>
  <input
    id="search"
    type="text"
    x-model="searchQuery"
    placeholder="Search name..."
    class="search-input"
  />
</div>
