{# src/_includes/components/sidebar-link.njk #}
{% macro linkItem(href, iconClass, label) %}
  <li class="min-h-12">
    <a
      href="{{ href }}"
      class="flex flex-col items-center text-gray-500 hover:text-gray-800"
    >
      <i class="fas {{ iconClass }} text-xl"></i>
      <span class="mt-1 text-xs">{{ label }}</span>
    </a>
  </li>
{% endmacro %}
