{# src/_includes/components/sidebar-nav.njk #}
{% from "components/sidebar-link.njk" import linkItem %}


<div class="currentUser py-2 text-sm text-center text-black bg-gray-200">
  <div class="firstName font-bold" x-text="currentUser.firstName"></div>
  <div class="lastName font-bold" x-text="currentUser.lastName"></div>
  <div class="employer text-xs" x-text="currentUser.employer"></div>
</div>
<nav class="">
  <ul class="">

    {{ linkItem("/personal/",      "fa-user",           "Personal") }}
    {{ linkItem("/family/",        "fa-home",           "Family") }}
    {{ linkItem("/benefits/",      "fa-notes-medical",  "Benefits") }}
    {{ linkItem("/beneficiaries/", "fa-hand-holding-usd","Beneficiaries") }}
    {{ linkItem("/summary/",       "fa-table",          "Summary") }}
    {{ linkItem("/upload/",        "fa-upload",         "Upload") }}

  </ul>
</nav>
