{# _includes/components/sidebar-link.njk #}
{# We assume href, iconClass, and label are always passed in #}
<li>
  <a
    href="{{ href }}"
    class="flex flex-col items-center text-gray-500 hover:text-gray-800"
  >
    <i class="fa {{ iconClass }} text-xl"></i>
    <span class="mt-1 text-xs">{{ label }}</span>
  </a>
</li>
