{# src/_includes/components/employee-table-responsive.njk #}

<!-- MOBILE & TABLET view (cards) -->
<div class="cards">
  <!-- Alpine loop -->
  <template x-for="emp in filteredEmployees" :key="emp.ssn">
    <div class="card">
      <a href="#"
         @click.prevent="openEmployee(emp)"
         x-text="`${emp.lastName}, ${emp.firstName}`">
      </a>
      <div class="mt-1">
        <div class="font-medium text-gray-400 sr-only">Address</div>
        <div>
          <span x-text="emp.address1"></span><br>
          <span x-text="`${emp.city}, ${emp.state}`"></span>
        </div>
      </div>
      <div class="field">
        <span class="field-name">SSN:</span>
        <span x-text="formatSSN(emp.ssn)"></span>
      </div>
      <div class="field">
        <span class="field-name">Birth Date:</span>
        <span x-text="formatDate(emp.birthDate)"></span>
      </div>
      <div class="field">
        <span class="field-name">Employer:</span>
        <span x-text="emp.employer"></span>
      </div>
      <div class="field">
        <span class="field-name">Term Date:</span>
        <span x-text="emp.terminationDate ? formatDate(emp.terminationDate) : '—'"></span>
      </div>
      <div class="mb-3">
      </div>
    </div>
  </template>
</div>


  <!-- DESKTOP view (table) -->
<div class="table-deskop hidden lg:block overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th scope="col">
          SSN
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Address
        </th>
        <th scope="col">
          Birth Date
        </th>
        <th scope="col">
          Employer
        </th>
        <th scope="col">
          Term Date
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Alpine loop -->
      <template x-for="emp in filteredEmployees" :key="emp.ssn">
        <tr>
          <td x-text="formatSSN(emp.ssn)"></td>
          <td>
            <a href="#" @click.prevent="openEmployee(emp)">
              <span x-text="`${emp.lastName}, ${emp.firstName}`"></span>
            </a>
          </td>
          <td x-text="`${emp.address1} ${emp.city}, ${emp.state}`"
             ></td>
          <td x-text="formatDate(emp.birthDate)"
             ></td>
          <td x-text="emp.employer"
             ></td>
          <td x-text="emp.terminationDate ? formatDate(emp.terminationDate) : '—'"
             ></td>
        </tr>
      </template>

      <!-- No results row -->
      <tr x-show="filteredEmployees.length === 0">
        <td colspan="6"
            class="px-6 py-4 text-center text-sm text-gray-500">
          No employees found.
        </td>
      </tr>
    </tbody>
  </table>
</div>
